<div class="row">
	<div class="col-md-10">
		<div class="panel panel-default">
		  <div class="panel-body">
				<p>
				  <strong>Title:</strong>
				  <%= @service.title %>
				</p>

				<p>
				  <strong>Code:</strong>
				  <%= @service.code %>
				</p>

				<p>
				  <strong>Description:</strong>
				  <%= @service.description %>
				</p>
				<hr>
				<p>
					<%= link_to 'Edit', edit_service_path(@service), class: 'btn btn-sx btn-default' %>
					<%= link_to 'Back', services_path, class: 'btn btn-sx btn-default' %>
				</p>
		  </div>
		</div>
	</div>
</div>
